doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chatting with SJ
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="../public/css/style.css")
        link(rel="shortcut icon", href="/public/favicon.ico" type="image/x-icon")

       
    body 
        header
            h1 The Chat!
        main 
            h3 my blog
            button(type="button", onclick="location.href='http://blog.naver.com/happyphjm1'") gogo

            ul(style="list-style-type: none; max-height: 300px;overflow-y: auto;")
            form
                input(type="text", placeholder="write a msg", name="submit", required)
                button Send
        
        script(src="/public/js/app.js")