doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome to Chatty
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")

    body 
        header
            h1 Welcome to Chatty

        main
            h3 Insert ur name

            form
                input(type="text", placeholder="ur nickname")
                button(type="submit") gogo

        script(src="public/js/login.js") 