.chat-message {
  /* Basic styling */
  display: flex; /* Allow for flexbox layout */
  align-items: flex-start; /* Align items vertically at the start */
  padding: 10px 15px; /* Add some padding for content */
  margin-bottom: 10px; /* Add some space between messages */
  border-radius: 8px; /* Create rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  position: relative; /* Allow for positioning child elements */
}

.chatroom-enter {
    padding : 5px;
    border-radius: 5px;
    margin: 3px;
    width: 364px;
    height: 80px;
    box-shadow: 0px 1px 3px #777777;
    background-color: #ccc;
}

#welcome {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 125px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow :rgba(0,0,0,0.5) 0 0 0 9999px;
  z-index: 1000; /* 다른 요소 위에 표시되도록 */
}

button {
  margin: 2px;
}

.hoverImg img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoverImg img:hover {
	opacity: .5;
}